/* Importing the 'Outfit' font from Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Here we import Tailwind CSS styles */
@import "tailwindcss";

/* Applying the 'Outfit' font to all elements */
* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  input:not([type="checkbox"]) {
    @apply outline-none focus:ring border border-gray-300 
         focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }

  textarea {
    @apply outline-none focus:ring border border-gray-300 
         focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
  }
}
